.navbar {
  display: flex;
  width: 100%;
  height: 83px;
  background-color: #131313;
  align-items: center; }
  .navbar__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 82px;
    margin-right: 82px; }
    .navbar__navigation__heading {
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      color: #E3B873;
      font-weight: 600;
      font-size: 18px; }
    .navbar__navigation__menu {
      display: flex;
      justify-content: space-between; }
      .navbar__navigation__menu--item {
        color: white;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none; }
        .navbar__navigation__menu--item:hover {
          color: #E3B873; }
    .navbar__navigation__phone {
      display: flex;
      align-items: center; }
      .navbar__navigation__phone--number {
        color: #E3B873;
        text-decoration: underline;
        font-family: Calibri, 'Trebuchet MS', sans-serif; }
      .navbar__navigation__phone--button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 161px;
        height: 37px;
        background-color: #E3B873;
        border-radius: 2px;
        margin-left: 20px; }
        .navbar__navigation__phone--button--text {
          color: white;
          font-family: Calibri, 'Trebuchet MS', sans-serif;
          text-decoration: none; }

.header {
  width: 100%;
  height: 755px;
  background-color: #131313; }
  .header__main-block {
    display: flex;
    width: 100%;
    height: 707px; }
    .header__main-block__instagram {
      display: flex;
      flex-direction: column;
      width: 82px;
      background-color: #131313;
      align-items: center;
      justify-content: center; }
      .header__main-block__instagram--text {
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        rotate: 90deg;
        color: #E3B873;
        transform: rotate(90deg); }
      .header__main-block__instagram--line {
        width: 2px;
        height: 50px;
        border-radius: 2px;
        background-color: #E3B873;
        margin-top: 45px; }
    .header__main-block__background {
      display: flex;
      align-items: center;
      width: 100%;
      background-image: url(/img/header-background.png); }
      .header__main-block__background__turnkey-repair {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 600px;
        margin-left: 60px; }
        .header__main-block__background__turnkey-repair--headline {
          font-family: 'Yeseva One';
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: white; }
          .header__main-block__background__turnkey-repair--headline span {
            color: #E3B873; }
        .header__main-block__background__turnkey-repair--text {
          margin-top: 30px;
          font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
          font-size: 22px;
          line-height: 30px;
          font-weight: 200;
          color: #FFFFFF; }
        .header__main-block__background__turnkey-repair--buttons {
          display: flex;
          justify-content: space-between;
          width: 434px;
          height: 51px;
          margin-top: 40px; }
          .header__main-block__background__turnkey-repair--buttons--calculate {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 207px;
            height: 51px;
            border: 1px solid white;
            box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer; }
            .header__main-block__background__turnkey-repair--buttons--calculate:hover {
              background-color: #E3B873;
              border: none; }
            .header__main-block__background__turnkey-repair--buttons--calculate a {
              color: white;
              font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
              font-size: 13px;
              line-height: 15px; }
            .header__main-block__background__turnkey-repair--buttons--calculate a:link {
              text-decoration: none;
              color: white; }
            .header__main-block__background__turnkey-repair--buttons--calculate a:visited {
              text-decoration: none;
              color: white; }
          .header__main-block__background__turnkey-repair--buttons--submit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 207px;
            height: 51px;
            border: 1px solid white;
            box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer; }
            .header__main-block__background__turnkey-repair--buttons--submit:hover {
              background-color: #E3B873;
              border: none; }
            .header__main-block__background__turnkey-repair--buttons--submit a {
              color: white;
              font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
              font-size: 13px;
              line-height: 15px; }
            .header__main-block__background__turnkey-repair--buttons--submit a:link {
              text-decoration: none;
              color: white; }
            .header__main-block__background__turnkey-repair--buttons--submit a:visited {
              text-decoration: none;
              color: white; }
  .header__scroll-down {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -49px;
    width: 247px;
    height: 97px;
    background-color: #131313;
    z-index: 2; }
    .header__scroll-down--text {
      font-size: 14px;
      font-family: 'Yeseva One', 'Times New Roman', serif;
      color: white; }

.main {
  width: 100%;
  background-color: white; }

.main__completed-projects {
  display: flex;
  width: 100%;
  height: 690px;
  background-color: #131313; }
  .main__completed-projects__text {
    width: 442px;
    height: 483px;
    background-color: grey;
    margin-left: 101px;
    margin-top: 129px; }
  .main__completed-projects__video {
    width: 100%;
    height: 552px;
    background-color: grey;
    margin-left: 50px;
    margin-top: 59px; }

.main__online-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1030px; }
  .main__online-control__background {
    width: 100%;
    height: 400px;
    background-color: black; }
  .main__online-control__navigation {
    display: flex;
    justify-content: center;
    width: 817px;
    height: 1030px;
    background-color: #464646;
    margin-top: -400px; }
    .main__online-control__navigation__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 196px;
      height: 67px; }
      .main__online-control__navigation__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: white; }

.main__types-of-repair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 2790px; }
  .main__types-of-repair__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 67px; }
    .main__types-of-repair__headline p {
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase; }
  .main__types-of-repair__repair-types {
    width: 1236px;
    height: 608px;
    margin-top: 31px;
    background-color: grey; }
  .main__types-of-repair__request {
    width: 1236px;
    height: 726px;
    margin-top: 124px;
    background-color: grey; }
  .main__types-of-repair__styles {
    width: 100%;
    height: 1018px;
    margin-top: 130px;
    background-color: grey; }

.main__design-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1680px;
  background-color: #131313; }
  .main__design-project__top-background {
    width: 100%;
    height: 466px;
    background-color: white; }
  .main__design-project__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1240px;
    height: 1680px;
    margin-top: -466px;
    background-color: #e0e0e0; }
    .main__design-project__body__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 257px;
      height: 67px; }
      .main__design-project__body__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase; }

.main__our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 844px; }
  .main__our-team__top-background {
    width: 100%;
    height: 405px;
    background-color: #131313; }
  .main__our-team__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1063px;
    height: 844px;
    margin-top: -405px;
    background-color: #d8d8d8; }
    .main__our-team__body__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 196px;
      height: 67px; }
      .main__our-team__body__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: white; }

.main__our-clients {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 773px; }
  .main__our-clients__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1236px;
    height: 642px;
    background-color: bisque; }
    .main__our-clients__body__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 196px;
      height: 67px; }
      .main__our-clients__body__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818; }

.main__questions-and-map {
  width: 100%;
  height: 1180px;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%); }
  .main__questions-and-map__body__headline p {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white; }

.footer {
  display: flex;
  width: 100%;
  height: 83px;
  background-color: #131313;
  align-items: center; }
  .footer__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 82px;
    margin-right: 82px; }
    .footer__navigation__heading {
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      color: #E3B873;
      font-weight: 600;
      font-size: 18px; }
    .footer__navigation__menu {
      display: flex;
      justify-content: space-between; }
      .footer__navigation__menu--item {
        color: white;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none; }
        .footer__navigation__menu--item:hover {
          color: #E3B873; }
    .footer__navigation__phone {
      display: flex;
      align-items: center; }
      .footer__navigation__phone--number {
        color: #E3B873;
        text-decoration: underline;
        font-family: Calibri, 'Trebuchet MS', sans-serif; }
      .footer__navigation__phone--button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 161px;
        height: 37px;
        background-color: #E3B873;
        border-radius: 2px;
        margin-left: 20px; }
        .footer__navigation__phone--button--text {
          color: white;
          font-family: Calibri, 'Trebuchet MS', sans-serif;
          text-decoration: none; }

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url(https://fonts.gstatic.com/s/yesevaone/v14/OpNJno4ck8vc-xYpwWWxli1VWw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }
