.header {
  display: flex;
  width: 100%;
  height: 83px;
  background-color: #131313;
  align-items: center; }
  .header__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 82px;
    margin-right: 82px; }
    .header__navigation__heading {
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      color: #E3B873;
      font-weight: 600;
      font-size: 18px; }
    .header__navigation__menu {
      display: flex;
      justify-content: space-between; }
      .header__navigation__menu--item {
        color: white;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none; }
        .header__navigation__menu--item:hover {
          color: #E3B873; }
    .header__navigation__phone {
      display: flex;
      align-items: center; }
      .header__navigation__phone--number {
        color: #E3B873;
        text-decoration: underline;
        font-family: Calibri, 'Trebuchet MS', sans-serif; }
      .header__navigation__phone--button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 161px;
        height: 37px;
        background-color: #E3B873;
        border-radius: 2px;
        margin-left: 20px; }
        .header__navigation__phone--button--text {
          color: white;
          font-family: Calibri, 'Trebuchet MS', sans-serif;
          text-decoration: none; }

.main {
  width: 100%;
  background-color: white; }

.main__head {
  width: 100%;
  height: 755px;
  background-color: #131313; }
  .main__head__main-block {
    display: flex;
    width: 100%;
    height: 707px; }
    .main__head__main-block__instagram {
      display: flex;
      flex-direction: column;
      width: 82px;
      background-color: #131313;
      align-items: center;
      justify-content: center; }
      .main__head__main-block__instagram--text {
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        rotate: 90deg;
        color: #E3B873;
        transform: rotate(90deg);
        text-decoration: none; }
      .main__head__main-block__instagram--line {
        width: 2px;
        height: 50px;
        border-radius: 2px;
        background-color: #E3B873;
        margin-top: 45px; }
    .main__head__main-block__background {
      display: flex;
      align-items: center;
      width: 100%;
      background-image: url(/img/header-background.png); }
      .main__head__main-block__background__turnkey-repair {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 600px;
        margin-left: 60px; }
        .main__head__main-block__background__turnkey-repair--headline {
          font-family: 'Yeseva One';
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: white; }
          .main__head__main-block__background__turnkey-repair--headline span {
            color: #E3B873; }
        .main__head__main-block__background__turnkey-repair--text {
          margin-top: 30px;
          font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
          font-size: 22px;
          line-height: 30px;
          font-weight: 200;
          color: #FFFFFF; }
        .main__head__main-block__background__turnkey-repair--buttons {
          display: flex;
          justify-content: space-between;
          width: 434px;
          height: 51px;
          margin-top: 40px; }
          .main__head__main-block__background__turnkey-repair--buttons--calculate {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 207px;
            height: 51px;
            border: 1px solid white;
            box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer; }
            .main__head__main-block__background__turnkey-repair--buttons--calculate:hover {
              background-color: #E3B873;
              border: none; }
            .main__head__main-block__background__turnkey-repair--buttons--calculate a {
              color: white;
              font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
              font-size: 13px;
              line-height: 15px; }
            .main__head__main-block__background__turnkey-repair--buttons--calculate a:link {
              text-decoration: none;
              color: white; }
            .main__head__main-block__background__turnkey-repair--buttons--calculate a:visited {
              text-decoration: none;
              color: white; }
          .main__head__main-block__background__turnkey-repair--buttons--submit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 207px;
            height: 51px;
            border: 1px solid white;
            box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer; }
            .main__head__main-block__background__turnkey-repair--buttons--submit:hover {
              background-color: #E3B873;
              border: none; }
            .main__head__main-block__background__turnkey-repair--buttons--submit a {
              color: white;
              font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
              font-size: 13px;
              line-height: 15px; }
            .main__head__main-block__background__turnkey-repair--buttons--submit a:link {
              text-decoration: none;
              color: white; }
            .main__head__main-block__background__turnkey-repair--buttons--submit a:visited {
              text-decoration: none;
              color: white; }
  .main__head__scroll-down {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -49px;
    width: 247px;
    height: 97px;
    background-color: #131313;
    z-index: 2; }
    .main__head__scroll-down--text {
      font-size: 14px;
      font-family: 'Yeseva One', 'Times New Roman', serif;
      color: white;
      text-decoration: none;
      padding-right: 12px; }

.main__completed-projects {
  display: flex;
  width: 100%;
  height: 750px;
  background-color: #131313;
  margin-top: -97px; }
  .main__completed-projects__text {
    min-width: 442px;
    height: 483px;
    margin-left: 101px;
    margin-top: 176px; }
    .main__completed-projects__text--heading {
      display: flex; }
      .main__completed-projects__text--heading h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873; }
      .main__completed-projects__text--heading--line {
        width: 92px;
        height: 2px;
        margin-top: 55px;
        margin-left: 10px;
        background-color: #E3B873; }
    .main__completed-projects__text--article {
      margin-top: 24px; }
      .main__completed-projects__text--article p {
        font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
        font-size: 15px;
        line-height: 29px;
        color: white; }
    .main__completed-projects__text--sub {
      display: flex;
      margin-top: 41px; }
      .main__completed-projects__text--sub--right {
        margin-left: 29px; }
      .main__completed-projects__text--sub h3 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #E3B873; }
      .main__completed-projects__text--sub p {
        font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
        font-size: 15px;
        line-height: 20px;
        color: white;
        margin-bottom: 41px; }
    .main__completed-projects__text--nav {
      display: flex;
      justify-content: space-between;
      width: 206px;
      height: 13px;
      margin-top: 55px; }
      .main__completed-projects__text--nav--prev {
        cursor: pointer; }
      .main__completed-projects__text--nav--dot--active {
        width: 9px;
        height: 9px;
        border-radius: 30px;
        background-color: white; }
      .main__completed-projects__text--nav--dot {
        width: 9px;
        height: 9px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.3); }
      .main__completed-projects__text--nav--next {
        cursor: pointer; }
  .main__completed-projects__pictures {
    width: 846px;
    height: 552px;
    margin-left: 50px;
    margin-top: 107px; }
    .main__completed-projects__pictures__navigation {
      display: flex;
      justify-content: space-between;
      width: 623px;
      height: 24px; }
      .main__completed-projects__pictures__navigation--text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; }
        .main__completed-projects__pictures__navigation--text a {
          color: white;
          opacity: 0.3;
          text-decoration: none;
          font-family: 'Yeseva One';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase; }
        .main__completed-projects__pictures__navigation--text div {
          opacity: 0;
          width: 100%;
          height: 1px;
          background-color: #E3B873; }
        .main__completed-projects__pictures__navigation--text:hover a {
          color: #E3B873;
          opacity: 1; }
        .main__completed-projects__pictures__navigation--text:hover div {
          opacity: 1; }
    .main__completed-projects__pictures__window {
      display: flex;
      height: 482px;
      margin-top: 45px; }
      .main__completed-projects__pictures__window--next {
        position: relative; }
      .main__completed-projects__pictures__window--2 {
        margin-left: 21px; }

.main__online-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1100px; }
  .main__online-control__background {
    width: 100%;
    height: 315px;
    background-color: #131313; }
  .main__online-control__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 816px;
    height: 1100px;
    margin-top: -315px; }
    .main__online-control__navigation__headline {
      width: 196px;
      height: 67px; }
    .main__online-control__navigation__video {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 816px;
      height: 434px;
      margin-top: 31px;
      background-image: url("/img/online-control-navigation-video.png"); }
    .main__online-control__navigation__separator {
      width: 55px;
      height: 2px;
      margin-top: 62px;
      background-color: #E3B873; }
    .main__online-control__navigation__text {
      width: 681px;
      height: 131px;
      margin-top: 35px;
      font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
      font-size: 16px;
      line-height: 34px;
      text-align: center;
      color: #363636; }
    .main__online-control__navigation__submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 769px;
      height: 103px;
      margin-top: 91px; }
      .main__online-control__navigation__submit--bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 51px; }
        .main__online-control__navigation__submit--bar p {
          font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
          font-size: 15px;
          line-height: 20px;
          color: rgba(54, 54, 54, 0.5); }
        .main__online-control__navigation__submit--bar input {
          width: 100%;
          font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
          font-size: 18px;
          line-height: 24px;
          border: none;
          border-bottom: 1px solid #363636; }
        .main__online-control__navigation__submit--bar--name {
          width: 231px;
          height: 45px; }
        .main__online-control__navigation__submit--bar--phone {
          width: 231px;
          height: 45px; }
        .main__online-control__navigation__submit--bar--button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 51px;
          background: #E3B873;
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          border-radius: 2px; }
          .main__online-control__navigation__submit--bar--button a {
            font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none; }
      .main__online-control__navigation__submit--checkbox {
        display: flex;
        align-items: center; }
        .main__online-control__navigation__submit--checkbox input {
          width: 18px;
          height: 18px; }
        .main__online-control__navigation__submit--checkbox span {
          font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
          font-size: 16px;
          line-height: 22px;
          color: #181818; }

.main__types-of-repair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 2790px; }
  .main__types-of-repair__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 67px; }
    .main__types-of-repair__headline p {
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase; }
  .main__types-of-repair__repair-types {
    width: 1236px;
    height: 608px;
    margin-top: 31px;
    background-color: grey; }
  .main__types-of-repair__request {
    width: 1236px;
    height: 726px;
    margin-top: 124px;
    background-color: grey; }
  .main__types-of-repair__styles {
    width: 100%;
    height: 1018px;
    margin-top: 130px;
    background-color: grey; }

.main__design-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1680px;
  background-color: #131313; }
  .main__design-project__top-background {
    width: 100%;
    height: 466px;
    background-color: white; }
  .main__design-project__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1240px;
    height: 1680px;
    margin-top: -466px;
    background-color: #e0e0e0; }
    .main__design-project__body__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 257px;
      height: 67px; }
      .main__design-project__body__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase; }

.main__our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 844px; }
  .main__our-team__top-background {
    width: 100%;
    height: 405px;
    background-color: #131313; }
  .main__our-team__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1063px;
    height: 844px;
    margin-top: -405px;
    background-color: #d8d8d8; }
    .main__our-team__body__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 196px;
      height: 67px; }
      .main__our-team__body__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: white; }

.main__our-clients {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 773px; }
  .main__our-clients__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1236px;
    height: 642px;
    background-color: bisque; }
    .main__our-clients__body__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 196px;
      height: 67px; }
      .main__our-clients__body__headline p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818; }

.main__questions-and-map {
  width: 100%;
  height: 1180px;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%); }
  .main__questions-and-map__body__headline p {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white; }

.footer {
  display: flex;
  width: 100%;
  height: 83px;
  background-color: #131313;
  align-items: center; }
  .footer__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 82px;
    margin-right: 82px; }
    .footer__navigation__heading {
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      color: #E3B873;
      font-weight: 600;
      font-size: 18px; }
    .footer__navigation__menu {
      display: flex;
      justify-content: space-between; }
      .footer__navigation__menu--item {
        color: white;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none; }
        .footer__navigation__menu--item:hover {
          color: #E3B873; }
    .footer__navigation__phone {
      display: flex;
      align-items: center; }
      .footer__navigation__phone--number {
        color: #E3B873;
        text-decoration: underline;
        font-family: Calibri, 'Trebuchet MS', sans-serif; }
      .footer__navigation__phone--button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 161px;
        height: 37px;
        background-color: #E3B873;
        border-radius: 2px;
        margin-left: 20px; }
        .footer__navigation__phone--button--text {
          color: white;
          font-family: Calibri, 'Trebuchet MS', sans-serif;
          text-decoration: none; }

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url(https://fonts.gstatic.com/s/yesevaone/v14/OpNJno4ck8vc-xYpwWWxli1VWw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }
