@import "layouts/_header";
@import "layouts/_main";
@import "layouts/_main-head";
@import "layouts/_main-completed-projects";
@import "layouts/_main-online-control";
@import "layouts/_main-types-of-repair";
@import "layouts/_main-design-project";
@import "layouts/_main-our-team";
@import "layouts/_main-our-clients";
@import "layouts/_main-questions-and-map";
@import "layouts/_footer";
@import "fonts/_fonts";

html {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 375px) {
    html {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    body {
        max-width: 375px;
        width: 100%;
    }
}