.main__types-of-repair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;

    &__headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 257px;
        height: 67px;
    }

    &__repair-types {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1236px;

        &--list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 330px;
            height: 313px;
            margin-top: -127px;
            background-color: white;

            & h3 {
                margin-top: 25px;
                margin-left: 34px;
                font-family: 'Yeseva One', 'Times New Roman', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #363636;
            }

            & ul {
                margin-top: -10px;
                margin-left: 34px;
                font-family: FuturaBookC, 'Century Gothic', sans-serif;
                font-size: 15px;
                line-height: 25px;
                color: #959595;
            }

            &--button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 228px;
                height: 54px;
                background-color: #E3B873;
                user-select: none;
                font-family: 'Yeseva One', 'Times New Roman', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: #FFFFFF;
                transition: all 300ms;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background: #b9975f;
                    transition: all 300ms;
                }
            }
        }

        &--left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 392px;
            margin: 31px 0px 0px 15px;
        }

        &--center {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 392px;
            margin: 31px 15px 0px 15px;
        }

        &--right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 392px;
            margin: 31px 15px 0px 0px;
        }
    }

    &__request {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 124px;

        &__image {
            display: flex;
            overflow: hidden;
            width: 765px;
            height: 692px;
            background-repeat: no-repeat;
            background-image: url(../img/repair-request-image.png);

            &--border {
                width: 691px;
                height: 636px;
                margin-left: -200px;
                margin-top: 95px;
                border: 3px solid #E3B873;
                border-radius: 100%;
            }

            &--info {
                display: flex;
                flex-direction: column;
                width: 415px;
                height: 440px;
                margin-left: 537px;
                margin-top: 45px;

                &--text {
                    margin-left: 10px;
                }

                &--01 {
                    display: flex;

                    & div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 91px;
                        height: 55px;
                        background-color: white;
                        border-radius: 100%;

                        & p {
                            width: 42px;
                            height: 42px;
                            background-color: #E3B873;
                            border-radius: 100%;
                            font-family: 'Yeseva One', 'Times New Roman', serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            text-align: center;
                            color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                &--02 {
                    display: flex;
                    margin-top: 72px;
                    margin-left: 101px;

                    & div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: white;
                        border-radius: 100%;

                        & p {
                            width: 42px;
                            height: 42px;
                            background-color: #E3B873;
                            border-radius: 100%;
                            font-family: 'Yeseva One', 'Times New Roman', serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            text-align: center;
                            color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                &--03 {
                    display: flex;
                    margin-top: 108px;
                    margin-left: 127px;


                    & div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: white;
                        border-radius: 100%;

                        & p {
                            width: 42px;
                            height: 42px;
                            background-color: #E3B873;
                            border-radius: 100%;
                            font-family: 'Yeseva One', 'Times New Roman', serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            text-align: center;
                            color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                &--04 {
                    display: flex;
                    margin-top: 103px;
                    margin-left: 51px;


                    & div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: white;
                        border-radius: 100%;

                        & p {
                            width: 42px;
                            height: 42px;
                            background-color: #E3B873;
                            border-radius: 100%;
                            font-family: 'Yeseva One', 'Times New Roman', serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            text-align: center;
                            color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                &--text {
                    display: flex;
                    align-items: center;
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 18px;
                    line-height: 21px;
                    color: #363636;
                }
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 506px;
            height: 620px;
            margin-top: 106px;

            &--submit {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 509px;
                background-color: black;

                & h3 {
                    max-width: 220px;
                    height: 47px;
                    margin-top: 28px;
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    color: #FFFFFF;
                }

                &--element {
                    margin-top: 39px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 80%;
                    height: 49px;

                    
                }

                & p {
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 15px;
                    line-height: 20px;
                    color: #ffffff;
                }

                &--input {
                    width: 100%;
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 18px;
                    line-height: 24px;
                    color: #ffffff80;
                    background-color: black;
                    border: none;
                    border-bottom: 1px solid #363636;
                }

                &--checkbox {
                    display: flex;
                    align-items: center;
                    width: 80%;
                    height: 18px;
                    margin-top: 16px;

                    & input {
                        opacity: 0;
                        width: 0px;
                        height: 0px;
                    }
                
                    & span {
                        font-family: FuturaBookC, 'Century Gothic', sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        color: #FFFFFF;
                    }
                }

                &--button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 213px;
                    height: 51px;
                    background: #E3B873;
                    border: none;
                    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    margin-top: 39px;
                    margin-right: 10%;
                    align-self: flex-end;
                    transition: all 300ms;

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        background: #b9975f;
                        transition: all 300ms;
                    }
                }
            }

            & img {
                margin-bottom: -30px;
            }
        }
    }

    &__styles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 1018px;
        margin-top: 130px;
        background-image: url(../img/styles-background.png);
        background-repeat: no-repeat;
        background-position-y: 113px;

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 411px;
            height: 630px;
            margin-top: 100px;

            &--heading {
                font-family: 'Yeseva One', 'Times New Roman', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 27px;
                line-height: 37px;
                text-transform: uppercase;
                color: #E3B873;

                &--mobile {
                    display: none;
                }
            }

            &--elements {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 516px;

                & a {
                    width: fit-content;
                    font-family: calibri;
                    font-size: 20px;
                    line-height: 34px;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 300ms;

                    &:hover {
                        color: #E3B873;
                        border-bottom: 1px solid #E3B873;
                        transition: all 300ms;
                    }
                }
            }
        }

        &__images {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 751px;
            height: 1018px;
            margin-right: 20px;

            &--left {
                width: 100%;
                max-width: 354px;
                height: 947px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 72px 20px 0 0;
            }

            &--right {
                width: 100%;
                max-width: 354px;
                height: 947px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

.checkmark {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    background-color: #eee;
}
.container input:checked ~ .checkmark {
    background-color: #E3B873;
}
.checkmark:after {
    content: "";
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    padding: 5 5 5 5;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: auto;
}

@media screen and (max-width: 940px) {
    .main__types-of-repair {
        &__styles {

            &__images {
                max-width: 500px;
                height: 700px;
                margin-right: 20px;
    
                &--left {
                    height: 700px;

                    & img {
                        width: 100%;
                    }
                }
    
                &--right {
                    height: 700px;


                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .main__types-of-repair {
        &__request {
            &__image {
                display: none;
            }

            &__form {
                margin-top: 0;
            }
        }

        &__styles {
            &__images {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .main__types-of-repair {
        margin-top: 83px;
        height: 2030px;

        &__repair-types {
            flex-wrap: wrap;
            width: 340px;
            margin-bottom: 55px;

            &--left {
                align-items: flex-start;
                width: 340px;
                height: 484px;

                & img {
                    width: 340px;
                    height: 365px;
                }
            }

            &--center {
                align-items: flex-start;
                width: 340px;
                height: 484px;
                margin-top: 60px;

                & img {
                    width: 340px;
                    height: 365px;
                }
            }

            &--right {
                align-items: flex-start;
                width: 340px;
                height: 484px;
                margin-top: 60px;

                & img {
                    width: 340px;
                    height: 365px;
                }
            }

            &--list {
                width: 270px;

                & h3 {
                    margin-left: 31px;
                    font-size: 15px;
                    line-height: 21px;
                }

                & ul {
                    font-size: 13px;
                    line-height: 19px;
                }
            }
        }

        &__request {
            display: none;
        }

        &__styles {
            margin-top: 0px;
            background-image: none;

            &__text {
                text-align: center;
                width: 100%;
                align-items: center;
                justify-content: end;
                margin-top: 0px;

                &--heading {
                    &--mobile {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 340px;
                        height: 242px;
                        background-image: url(/img/mobile-fantasies-img.png);
                        z-index: 2;

                        &--next {
                            width: 36px;
                            height: 36px;
                        }

                        &--prev {
                            width: 43px;
                            height: 43px;
                        }
                    }
                }

                &--elements {
                    display: none;
                }
            }
            
            &__images {
                display: none;
            }
        }
    }
}