.main__questions-and-map {
    width: 100%;
    height: 958px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);

    &__questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 883px;
        height: 460px;
        margin-top: -222px;
        background-color: #131313;
        background-image: url(/img/questions-background.svg);

        &--heading {
            margin-top: 34px;
            font-family: 'Yeseva One', 'Times New Roman', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
            color: white;
        }

        &--name-phone {
            display: flex;
            justify-content: space-between;
            width: 90%;
            max-width: 520px;
            height: 50px;
            margin-top: 45px;

            &--element {
                width: 231px;

                & p {
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 15px;
                    line-height: 20px;
                    color: #ffffff;
                }

                &--input {
                    width: 100%;
                    font-family: FuturaBookC, 'Century Gothic', sans-serif;
                    font-size: 18px;
                    line-height: 24px;
                    color: white;
                    background-color: #131313;
                    border: none;
                    border-bottom: 1px solid #363636;
                }
            }    
        }
        
        &--question {
            width: 90%;
            max-width: 520px;
            margin-top: 48px;

            & p {
                font-family: FuturaBookC, 'Century Gothic', sans-serif;
                font-size: 15px;
                line-height: 20px;
                color: #ffffff;
            }

            &--input {
                width: 100%;
                font-family: FuturaBookC, 'Century Gothic', sans-serif;
                font-size: 18px;
                line-height: 24px;
                color: white;
                background-color: #131313;
                border: none;
                border-bottom: 1px solid #363636;
            }
        }

        &--checkbox {
            display: flex;
            align-items: center;
            height: 18px;
            margin-top: 46px;

            & input {
                opacity: 0;
                width: 0px;
                height: 0px;
            }
            
            & span {
                font-family: FuturaBookC, 'Century Gothic', sans-serif;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
            }
        }

        &--button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 213px;
            height: 51px;
            background: #E3B873;
            border: none;
            box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
            font-family: FuturaBookC, 'Century Gothic', sans-serif;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            margin-top: 50px;
            transition: all 300ms;

            &:hover {
                cursor: pointer;
            }
            &:active {
                background-color: #b9975f;
                transition: all 300ms;
            }
        }
    }

    &__info {
        max-width: 589px;
        margin-top: 52px;
        font-family: 'Yeseva One', 'Times New Roman', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;

        & a {
            color: #E3B873;
            text-decoration: none;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        width: 71px;
        height: 28px;
        margin-top: 26px;
    }

    &__map {
        margin-top: 45px;
        width: 80%;
    }
}

.checkmark {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    background-color: #eee;
}
.container input:checked ~ .checkmark {
    background-color: #E3B873;
}
.checkmark:after {
    content: "";
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    padding: 5 5 5 5;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: auto;
}

@media screen and (max-width: 375px) {
    .main__questions-and-map {
        width: 375px;
        height: 710px;
        background-color: #131313;

        &__questions {
            width: 327px;
            height: 472px;
            background-image: none;

            &--name-phone {
                display: flex;
                flex-wrap: wrap;
                width: 327px;
                height: 150px;
                margin-top: 0px;

                &--element {
                    width: 100%;
                    margin-top: 40px;
                }
            }

            &--question {
                width: 100%;
                margin-top: 48px;
            }

            &--checkbox {
                display: flex;
                align-items: center;
                width: 100%;
                height: 18px;
                margin-top: 46px;

                & span {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &--button {
                width: 340px;
                height: 51px;
            }
        }

        &__map {
            width: 340px;
            height: 225px;
            margin-top: -340px;
        }

        &__info {
            margin-top: 265px;
            width: 100%;
            font-size: 18px;
            line-height: 25px;
        }

        &__social {
            margin-top: 50px;
        }
    }
}