$color-selected: #E3B873;

.main__completed-projects {
    display: flex;
    width: 100%;
    height: 750px;
    background-color: #131313;
    margin-top: -97px;

    &__text {
        min-width: 320px;
        max-width: 745px;
        height: 483px;
        margin-left: 101px;
        margin-top: 176px;

        &--heading {
            display: flex;

            & h2 {
                font-family: 'Yeseva One', 'Times New Roman', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 27px;
                line-height: 37px;
                letter-spacing: -0.07em;
                text-transform: uppercase;
                color: $color-selected;
            }

            &--line {
                width: 92px;
                height: 2px;
                margin-top: 55px;
                margin-left: 10px;
                background-color: $color-selected;
            }
        }

        &--article {
            margin-top: 24px;

            & p {
                font-family: FuturaBookC, 'Century Gothic', sans-serif;
                font-size: 18px;
                line-height: 29px;
                color: white;
            }
        }

        &--sub {
            display: flex;
            margin-top: 41px;

            &--right {
                margin-left: 29px;
            }

            & h3 {
                font-family: 'Yeseva One';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: $color-selected;
            }

            & p {
                font-family: FuturaBookC, 'Century Gothic', sans-serif;
                font-size: 15px;
                line-height: 20px;
                color: white;
                margin-bottom: 41px;
            }
        }

        &--nav {
            display: flex;
            justify-content: space-between;
            width: 206px;
            height: 13px;
            margin-top: 55px;

            &--prev {
                cursor: pointer;
            }

            &--dot--active {
                width: 9px;
                height: 9px;
                border-radius: 30px;
                background-color: white;
                cursor: pointer;
            }

            &--dot {
                width: 9px;
                height: 9px;
                border-radius: 30px;
                background-color: rgba(255, 255, 255, 0.3);
                cursor: pointer;
            }

            &--next {
                cursor: pointer;
            }
        }
    }

    &__pictures {
        width: 100%;
        height: 552px;
        overflow: hidden;
        margin-left: 50px;
        margin-top: 107px;

        &__navigation {
            display: flex;
            justify-content: space-between;
            max-width: 623px;
            min-height: 24px;
            

            &--text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height:100%;
                
                & a {
                    color: white;
                    opacity: 0.3;
                    text-decoration: none;
                    font-family: 'Yeseva One', 'Times New Roman', serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    text-transform: uppercase;
                    transition: all 300ms;
                }

                & div {
                    opacity: 0;
                    width:100%;
                    height: 1px;
                    background-color: $color-selected;
                    transition: all 300ms;
                }

                &:hover {
                    & a {
                        color: $color-selected;
                        opacity: 1;
                        transition: all 300ms;
                    }
                    & div {
                        opacity: 1;
                        transition: all 300ms;
                    }
                    
                }
            }
        }

        &__window {
            display: flex;
            height: 482px;
            margin-top: 45px;

            &--next {
                width: 85px;
                height: 85px;
                position: sticky;
                top: 260px;
                right: 0;
            }

            &--prev {
                display: none;
            }

            &--2 {
                margin-left: 21px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .main__completed-projects {
        justify-content: center;

        &__text {
            margin-left: 60px;
            margin-right: 60px;

        }

        &__pictures {
            display: none;
        }
    }
}

@media screen and (max-width: 375px) {
    .main__completed-projects {
        height: 660px;
        margin-top: 0px;
        flex-direction: column;

        &__text {
            width: 375px;
            min-width: 375px;
            margin-left: 0px;
            margin-top: -190px;
            z-index: 0;

            &--heading {
                justify-content: center;

                & h2 {
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: -0.07em;
                    text-transform: uppercase;
                    color: $color-selected;
                    text-align: center;
                }

                &--line {
                    display: none;
                }
            }

            &--article {
                display: flex;
                justify-content: center;
                width: 340px;
                margin-top: 22px;
                margin-left: 18px;
    
                & p {
                    max-width: 311px;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                }
            }

            &--sub {
                width: 340px;
                margin-top: 250px;
                margin-left: 18px;
            }

            &--nav {
                display: none;
            }
        }

        &__pictures {
            display: flex;
            width: 340px;
            height: 242px;
            margin-top: -330px;
            margin-left: 18px;

            &__navigation {
                display: none;
            }

            &__window {
                width: 340px;
                height: 242px;
                z-index: 2;

                &--1 {
                    width: 340px;
                    height: 242px;
                }

                &--2 {
                    display: none;
                }

                &--next {
                    width: 36px;
                    height: 36px;
                    top: 125px;
                    right: 0;

                    & img {
                        width: 36px;
                        height: 36px;
                    }
                }

                &--prev {
                    display: inline;
                    position: relative;
                    width: 43px;
                    height: 43px;
                    top: 76px;
                    left: -373px;

                    & img {
                        width: 43px;
                        height: 43px;
                    }
                }
            }
        }
    }
}