.main__our-clients {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 995px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1236px;
        height: 642px;

        &__headline {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 476px;
            height: 146px;

            & h2 {
                font-family: 'Yeseva One';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: #181818;
                margin-bottom: 13px;
            }
            
            & p {
                font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                color: #363636;
                margin-top: 24px;
            }
        }

        &__clients {
            width: 1236px;
            height: 455px;
            display: flex;
            justify-content: space-between;
            margin-top: 39px;

            &--form {
                width: 376px;
                height: 428px;


                &--photo {
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
                    margin-top: 24px;

                    & p {
                        margin-left: 23px;
                        font-family: 'Yeseva One';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 23px;
                        color: #181818;
                    }
                }

                &--review {
                    margin-left: 20px;
                    margin-top: 22px;
                    font-family: 'Century Gothic', 'Trebuchet MS', sans-serif;
                    font-size: 15px;
                    line-height: 180%;
                    color: #959595;
                }

                &--info {
                    display: flex;
                    width: 294px;
                    height: 54px;
                    margin-top: 58px;
                    background-color: #E3B873;

                    &--square {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 130px;
                        border-right: 1px solid #FFFFFF;

                        & p {
                            margin-left: 10px;
                            font-family: 'Yeseva One';
                            font-style: normal;
                            font-weight: normal;
                            font-size: 17px;
                            line-height: 24px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                    }

                    &--days {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 164px;

                        & p {
                            margin-left: 10px;
                            font-family: 'Yeseva One';
                            font-style: normal;
                            font-weight: normal;
                            font-size: 17px;
                            line-height: 24px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .main__our-clients {
        display: none;
    }
}